.row1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}
.col1{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: space-evenly;

    

}

.card-title {
    background-color: lightblue;
    border: 1px;
    align-content: center;
    display: flex;


}

.col2 {
    margin-top: 10px;
    width: center;
}



    
